SECRET_KEY=your_secret_key_here
SQLALCHEMY_DATABASE_URI=sqlite:///memory.db
SQLALCHEMY_TRACK_MODIFICATIONS=False
TEXT_ANALYTICS_KEY=your_azure_text_analytics_key_here
TEXT_ANALYTICS_ENDPOINT=your_azure_text_analytics_endpoint_here
